<div ng-controller="BookingsCtrl" ng-cloak>
    <div class="auth-wrapper">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content grey lighten-4">
                        <div id="auth">
                            <p class="center">Sign in with your Google account.</p>
                            <br>
                            <div class="row">
                                <div ng-click="signIn(login)" class="col s12 waves-effect waves-light btn center-align">Sign In</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="collection with-header">
                <li class="collection-header">
                    <h5>Previous Bookings</h5>
                </li>

            </ul>
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header">Flights</div>
                    <div class="collapsible-body">
                        <span>
                            <ul class="collection">
                                <li class="collection-item avatar">
                                    <i class="material-icons circle">send</i>
                                    <span class="title">#12368</span>
                                    <p>Jaipur to Delhi <br> 01/02/2017
                                    </p>
                                </li>
                                <li class="collection-item avatar">
                                    <i class="material-icons circle">send</i>
                                    <span class="title">#12594</span>
                                    <p>Jaipur to Pune <br> 21/12/2017
                                    </p>
                                </li>
                            </ul>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Hotels</div>
                    <div class="collapsible-body">
                        <span>
                            <ul class="collection">
                                <li class="collection-item avatar">
                                    <i class="material-icons circle">hotel</i>
                                    <span class="title">#22395</span>
                                    <p>Regenta Central, Jaipur <br> 01/02/2017
                                    </p>
                                </li>
                                <li class="collection-item avatar">
                                    <i class="material-icons circle">hotel</i>
                                    <span class="title">#22978</span>
                                    <p>Taj Vivanta <br> 21/12/2017
                                    </p>
                                </li>
                            </ul>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Tour Packages</div>
                    <div class="collapsible-body">
                        <span>
                            <ul class="collection">
                                <li class="collection-item avatar">
                                    <i class="material-icons circle">terrain</i>
                                    <span class="title">#32689</span>
                                    <p>Spiti Valley <br> 01/02/2017
                                    </p>
                                </li>
                                <li class="collection-item avatar">
                                    <i class="material-icons circle">terrain</i>
                                    <span class="title">#32748</span>
                                    <p>Munnar <br> 21/12/2017
                                    </p>
                                </li>
                            </ul>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
